<!DOCTYPE html>
<html>
  <head>
    <title>Weather Data</title>
    <script>
      function fetchWeatherData() {
        var country = document.getElementById("country-input").value;
        if (country.trim() === "") {
          alert("Please enter a country or city name");
          return;
        }
        var url = "/weather/fetch-weather/" + country;
        window.location.href = url;
      }
    </script>
  </head>
  <body>
    <h1>Weather Data</h1>
    <label for="country-input">Country:</label>
    <input type="text" id="country-input" name="country" />
    <button onclick="fetchWeatherData()">Fetch Weather</button>

    {% if weather_data %}
    <h2>{{ weather_data.city }}, {{ weather_data.region }}</h2>
    <p>Country: {{ weather_data.country }}</p>
    <p>
      Temperature: {{ weather_data.temperature_c }}°C / {{
      weather_data.temperature_f }}°F
    </p>
    <p>Is Day: {% if weather_data.is_day %}Yes{% else %}No{% endif %}</p>
    <p>Condition: {{ weather_data.condition_text }}</p>
    <img src="{{ weather_data.condition_icon }}" alt="Weather Icon" />
    <p>Wind Speed: {{ weather_data.wind_kph }} km/h</p>
    <p>Wind Degree: {{ weather_data.wind_degree }}°</p>
    <p>Wind Direction: {{ weather_data.wind_dir }}</p>
    <p>
      Pressure: {{ weather_data.pressure_mb }} mb / {{ weather_data.pressure_in
      }} in
    </p>
    <p>
      Precipitation: {{ weather_data.precip_mm }} mm / {{ weather_data.precip_in
      }} in
    </p>
    <p>Humidity: {{ weather_data.humidity }}%</p>
    <p>Cloud Cover: {{ weather_data.cloud }}</p>
    <p>
      Feels Like: {{ weather_data.feelslike_c }}°C / {{ weather_data.feelslike_f
      }}°F
    </p>
    <p>
      Visibility: {{ weather_data.visibility_km }} km / {{
      weather_data.visibility_miles }} miles
    </p>
    <p>UV Index: {{ weather_data.uv }}</p>
    <p>Gust Speed: {{ weather_data.gust_kph }} km/h</p>
    <p>Last Updated: {{ weather_data.last_updated }}</p>
    {% endif %}
  </body>
</html>
